
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
/*Colors:
            White: #ffffff
            Off-White: #ecf0f1
            Dark Grey (background): #1a1a1a
            Light Grey: #555555
            Medium Light Grey: #2a2a2a
            Medium Dark Grey: #222222
            Green: #2ecc71
            Aqua: #1abc9c
            Red: #e74c3c
            Blue: #3498db
            Yellow: #f1c40f
            Orange-Red: #e67e22
            Periwinkle: #6c71c4

            White Field:       #f6fcf4;
            Engineering Paper: #FBEEA6
            Engineering Grid:  #BBAE46/#81C828
            Pencil:            #4c5051
            Pen:               #2c3031
            Red:               #e74c3c
            Yellow:            #f1c40f
            Orange-Red:        #e67e22
            Console Bkgrnd:    #2c3051
            Console Fogrnd:    #2eec71 / #81F828
*/

/* INPUT STUFF */

* {
  color: #4c5051;
}

td{
  padding: 0px;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin: 0px;
}

select, button, input {
  border: 1px solid #BBAE46;
  border-radius: .2em;
  padding: .1em;
  margin: 1px;
  color: #2c3031;
  background-color: #fafce4;
}

select, button{
  font-size: 10pt;
  font-weight: normal;
  font-family: "Noto Sans", "Segoe UI", monospace;
}
input {
  width: 5em;
  text-align: right;
  font-size: 12pt;
  font-weight: normal;
  font-family: "Ubuntu Mono", "Consolas", monospace;
}

input.input-halfwide {
  width: 2em;
}
input[readonly] {
  font-family: "Ubuntu Mono", "Consolas", monospace;
  background-color: #2c3041;
  color: #2eec71;
  border: 1px solid #BBAE46;
}
input[disabled] {
  background-color: #fafce4;
  color: #fafce4;
}
table {
  border-collapse: separate;
  border-spacing: 0px;
}

.bottom-border {
  border-bottom: 2px solid #BBAE46;
}

.section:last-child{
  border-bottom: 2px solid #BBAE46;
}
.section-row {
  display: table-row;
}
.section-urow {
  display: inline;
}
.section-cell {
  display: table-cell;
}

/* NAVBAR STUFF */

#content {
  float: left;
  margin: 0px;
  padding: 0px;
  margin-top: 28px;
  background-color: #FBEEA6;
}
body {
  background-color: #FBEEA6;
}
#topbar {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 9pt;

  position: fixed;
  width: 100%;
  left: 0px;
  height: 28px;
  top: 0px;
  z-index: 5;
  border-bottom: 1px solid #333;
}
.topbar-la {
  text-align: left;
  flex-grow: 0;
  padding: 5px;
  margin: 0px;
  border-right: 1px solid #333;
}
.topbar-ra {
  text-align: right;
  flex-grow: 0;
  padding: 5px;
  margin: 0px;
  border-left:  1px solid #333;
}
.topbar-ctr {
  text-align: center;
  flex-grow: 10;
  padding: 5px;
}

.selectable:hover {
  background-color: #0074d9;
  cursor: pointer;
}

#topbar select {
  margin: 0px;
  padding: 0px;
}

.topbar-ra .ttt {
  visibility: hidden;
  width: 400px;
  background-color: #ddd;
  color: black;
  text-align: center;
  padding: 5px 0;

  position: fixed;
  width: 300px;
  top: 28px;
  right: 0%;
  margin-left: 0px; /* Use half of the width (120/2 = 60), to center the tooltip */
  border: 1px solid #333;
  z-index: 1;
}

.topbar-ra:hover .ttt {
  visibility: visible;
  opacity: 1;
}
#topbar_status {
  background-color: #b5e0a0;
}