/* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0;width:30px;}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-size:9pt;line-height:1.3}html{overflow-x:hidden}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

* {
  font-family: "Noto Sans", "Segoe UI", sans-serif;
}

.bold{
  font-weight: bold;
}
.collabel{
	text-align: top;
  text-align: center;
}
th {
  font-weight: normal;
}
.rowlabel{
	text-align: right;
}
.unit {
	text-align: left;
}

.tiny{
	width: inherit;
}
.halfwide{
  width: 30px;
}

.odd {
	margin: none;
	padding: none;
	background-color: #ddf;
}
.even {
	margin: none;
	padding: none;
	background-color: #ccf;
}
.output {
	margin: none;
	padding: none;
	background-color: #fca;
}



select, input {
  border: 1px solid #aaa;
  width: 65px;
  margin: 1px;
  padding: 1px;
}
select {
  font-weight: bold;
  background-color: #eef;
}
input {
  background-color: #ffe;
}
input.narrow  {
  width: 40px;
}
input[readonly], input[disabled]{
  background-color: #ccd;
}

button {
  border: 1px solid #aaa;
}

.collapse button {

}

.doublewide {
  width: 140px;
}

.container {
	float: left;
	margin: 0;
  margin-top: 28px;
}

.container-oall {
	float: center;
	text-align: center;
	margin: 0;
}


.rowlabel {
  position: relative;
  padding: 3px;
  /*display: inline-block;*/
  border-bottom: 1px dotted black;
}

.rowlabel .ttt {
  font-weight: normal;
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 5%;
  margin-left: 0px;
  opacity: 0;
  transition: opacity 0.3s;
}

.rowlabel:hover .ttt {
  visibility: visible;
  opacity: 1;
}
.ttt:hover {
  visibility: hidden !important;
}

.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}
.graph .labels.z-labels {
  text-anchor: start;
}
.output-plot {
  background-color: #b5e0a0;
}


.plot {
  margin: 10px;
}

.plot-background {
  fill: #e5f0e0;
}

.plot-axis {
  stroke: #333;
  stroke-dasharray: 0;
  stroke-width: 1.5;
}

.plot-grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.plot-labels {
  font-size: 13px;
}
.plot-axlabels {
  font-size: 10px;
}

.plot-titlelabel {
  font-weight: bold;
  font-size: 12px;
  text-anchor: middle;
}

.plot-querybar {
  stroke: #55a040;
  stroke-width: 2;
}

.plot-markerbar {
  stroke: #333;
  stroke-width: 2;
}
.error {
  background: #e43 !important;
}
.warning {
  background: #eb3 !important;
}


.hovered {
  background-color: #55a040;
}

#topbar {
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 10px;

  position: fixed;
  width: 100%;
  height: 28px;
  top: 0;
  z-index: 5;
  border-bottom: 1px solid #333;
}
.topbar-la {
  text-align: left;
  flex-grow: 0;
  padding: 5px;
  margin: 0px;
  border-right: 1px solid #333;
}
.topbar-ra {
  text-align: right;
  flex-grow: 0;
  padding: 5px;
  margin: 0px;
  border-left:  1px solid #333;
}
.topbar-ctr {
  text-align: center;
  flex-grow: 10;
  padding: 5px;
}

.selectable:hover {
  background-color: #0074d9;
  cursor: pointer;
}

#topbar select {
  margin: 0px;
  padding: 0px;
}

.topbar-ra .ttt {
  visibility: hidden;
  width: 400px;
  background-color: #ddd;
  color: black;
  text-align: center;
  padding: 5px 0;

  position: fixed;
  width: 300px;
  top: 28px;
  right: 0%;
  margin-left: 0px; /* Use half of the width (120/2 = 60), to center the tooltip */
  border: 1px solid #333;
  z-index: 1;
}

.topbar-ra:hover .ttt {
  visibility: visible;
  opacity: 1;
}
#topbar_status {
  background-color: #b5e0a0;
}

input[type=checkbox].dropdown {
  display: none;
}
label.dropdown{
  box-sizing: border-box;
  display: inline-block;
  background-color: #eec;
  cursor: pointer;
  text-align: center;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid #aaa;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

input[type=checkbox].dropdown:checked ~ label {
    background-color: #999;
    border: 1px solid #333;
}
div.dropdown, table.dropdown{
    display: none;
}
input[type=checkbox].dropdown:checked ~ div, input[type=checkbox].dropdown:checked ~ table {
    display: block !important;
}

#walkthrough_overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 80; /* Specify a stack order in case you're using a different order for other elements */
  fill-rule: evenodd;
  stroke: none;
  fill: #111;
  opacity: 0.9;
}

#walkthrough_frame {
  stroke: none;
  fill: #111;
  opacity: 0.98;
}

#walkthrough_text {
  fill: white;
  font-size: 20px;
  z-index: 81;
}

#walkthrough_skip_button {
  fill: #55a040;
  font-size: 20px;
  font-weight: bold;
  text-anchor: middle;
  cursor: pointer; /* Add a pointer on hover */
}