/* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0;width:30px;}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:sans-serif;font-size:9pt;line-height:1.3}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px;text-align: center;}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}



.collabel{
	text-align: top;
  text-align: center;
}

.rowlabel{
	text-align: right;
}
.unit {
	text-align: left;
}

.tiny{
	width: inherit;
}

.odd {
	margin: none;
	padding: none;
	background-color: #ddf;
}
.even {
	margin: none;
	padding: none;
	background-color: #ccf;
}
.output {
	margin: none;
	padding: none;
	background-color: #fca;
}



select, input {
  border: 1px solid #aaa;
  width: 90px;
  margin: 1px;
  padding: 1px;
}
select {
  font-weight: bold;
  background-color: #eef;
}
input {
  background-color: #ffe;
}
input.narrow  {
  width: 45px;
}
input[readonly] {
  background-color: #ccd;
}

button {
  border: 1px solid #aaa;
}

.collapse button {

}

.doublewide {
  width: 240px;
}

.container {
	float: left;
	margin: 0;
  margin-top: 28px;
}

.container-oall {
	float: center;
	text-align: center;
	margin: 0;
}


.rowlabel {
  position: relative;
  padding: 3px;
  /*display: inline-block;*/
  border-bottom: 1px dotted black;
}

.rowlabel .ttt {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 5%;
  margin-left: 0px;
  opacity: 0;
  transition: opacity 0.3s;
}

.rowlabel:hover .ttt {
  visibility: visible;
  opacity: 1;
}

.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}
.graph .labels.z-labels {
  text-anchor: start;
}


.graph {
  height: 550px;
  width: 800px;
  margin: 10px;
}

.graph .background {
  fill: #e5f0e0;
}
.output-graph {
  background-color: #b5e0a0;
}

.graph .axes {
  stroke: #333;
  stroke-dasharray: 0;
  stroke-width: 1.5;
}

.graph .grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 13px;
}

.label-title {
  font-weight: bold;
  font-size: 12px;
  text-anchor: middle;
}

.query-line line {
  stroke: #55a040;
  stroke-width: 2;
}

.marker-line line {
  stroke: #333;
  stroke-width: 2;
}

.qline-hidden {
  opacity: 0;
}

.error {
  background: #d99 !important;
}
.uncomputed {
  background: #fd6 !important;
}

#compute_btn {
  background-color: #55a040;
}

.hovered {
  background-color: #55a040;
}

#topbar {
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 10px;

  position: fixed;
  width: 100%;
  height: 28px;
  top: 0;
  z-index: 5;
  border-bottom: 1px solid #333;
}
.topbar_la {
  text-align: left;
  flex-grow: 0;
  padding: 5px;
  margin: 0px;
  border-right: 1px solid #333;
}
.topbar_ra {
  text-align: right;
  flex-grow: 0;
  padding: 5px;
  margin: 0px;
  border-left:  1px solid #333;
}
.topbar_ctr {
  text-align: center;
  flex-grow: 10;
  padding: 5px;
}

.selectable:hover {
  background-color: #0074d9;
  cursor: pointer;
}

#topbar select {
  margin: 0px;
  padding: 0px;
}

.topbar_ra .ttt {
  visibility: hidden;
  width: 400px;
  background-color: #ddd;
  color: black;
  text-align: center;
  padding: 5px 0;

  position: fixed;
  width: 300px;
  top: 28px;
  right: 0%;
  margin-left: 0px; /* Use half of the width (120/2 = 60), to center the tooltip */
  border: 1px solid #333;
  z-index: 1;
}

.topbar_ra:hover .ttt {
  visibility: visible;
  opacity: 1;
}
#topbar_status {
  background-color: #b5e0a0;
}